[package]
name = "event-listener"
version = "2.5.1"
authors = ["Stjepan Glavina <stjepang@gmail.com>"]
edition = "2018"
rust-version = "1.36"
description = "Notify async tasks or threads"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/smol-rs/event-listener"
homepage = "https://github.com/smol-rs/event-listener"
documentation = "https://docs.rs/event-listener"
keywords = ["condvar", "eventcount", "wake", "blocking", "park"]
categories = ["asynchronous", "concurrency"]
exclude = ["/.*"]

[dev-dependencies]
futures = { version = "0.3.5", default-features = false, features = ["std"] }
waker-fn = "1.0.0"
